
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
:root{
  /*--primary:#d6993c;*/
  --primary:#7a9e9f;
  --secondary:#b8d8d8;
  --tertiary:#4f6367;
  --quaternary:#e1e2de;
  --quinary:#c26f2c;
  --quinary-alt:#7c3800;
  --senary:#003d3d;
  --octanary:#d4d1c7;
  --tools:#919493;
  --tools-alt:#c2c2c2;
  --edit:#ff2c2c;
  --edit-alt:#b40202;
  --blueish:#356375;
}
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    background-color: var(--quaternary);
  }
  label{
    font-weight: bold;
    margin-right: 1em;
    margin-left: 1em;
  }
  h1,h2,h3,h4,h5{
    margin-left: 1em;
    color: var(--senary);
  }

  .rAlign{
    text-align: end !important;
  }


  .text-highlight{
    color: var(--quinary);
  }
  .container{
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
    margin-right: auto;
    margin-left: auto;
  }

  .buffer{
    margin-left: 1em;
    margin-right: 1em;
  }
  .container-fluid{
    width: 50%;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
  }

  .brdr-btm{
    margin:1em 0;
    border-bottom: #d1d1d1 solid 1px;
  }
  
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: .25em;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: var(--tertiary);
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .app-brand {
    float: left;
    display: block;
    background-color: var(--senary);
    text-align: center;
    padding: 1em 3em;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    letter-spacing: .125em;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: var(--quinary);
    color: black;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 2px;
  }
  
  /* Left and right column */
  .column.side {
    width: 20%;
  }
  .column.half {
    width: 50%;
  }
  /* Middle column */
  .column.middle {
    width: 100%;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }

   table.compact td
    {
    padding: 2px;
    text-align: left;
    }
  th {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--senary);
    color: white;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}

  .warn{
    color: red;
    margin-left: 3px;
  }

  .btn{
    background-color: var(--primary);
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    border-radius: 3px;
  }
  .btn-sm{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1px 5px;
    border-radius: 3px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 2em;
  }
  .btn-primary{
    background-color: var(--primary);
    color: #fff;
  }
  .btn-primary:hover{
    background-color: var(--senary);
  }
  .btn-edit{
    margin-left: 1em;
    background-color: var(--edit);
    color: #fff;
  }
  .btn-edit:hover{
    background-color: var(--edit-alt);
  }

  .btn:hover{
    background-color: #617791;
  }
  .btn-selected{
    background-color: #617791;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
  }
  .btn-selected::before{
    content: '\27A7 ';
  }
  .btn-tool:hover{
    background-color: var(--tools);
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    
  }
  .btn-tool{
    background-color: var(--tools-alt);
    color: #000;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    min-width: 75px;
  }
  .btn-tool-label{
    background-color: var(--quaternary);
    color: var(--primary);
    text-shadow: 1px 1px 1px var(--tertiary) ;
    font-weight: bold;
    font-size: 1.25em;
    border: none;
    text-decoration: none;
    min-width: 90px;
    padding: 8px;

  }
  /*  Grid display*/

  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
    counter-reset: div;
  }
 
  .grid div:before {
    counter-increment: div;
  }

  .m-auto {
    margin:auto;
  }
  /* spanning cols */
  .col-2 {
    grid-column: auto/span 2;
    
  }
  .col-3 {
    grid-column: auto/span 3;
  }
  .col-4 {
    grid-column: auto/span 4;
  }
  .col-5 {
    grid-column: auto/span 5;
  }
    .col-6 {
    grid-column: auto/span 6;
  }
  .col-7 {
    grid-column: auto/span 7;
  }
  .col-8 {
    grid-column: auto/span 8;
  }
  .col-9 {
    grid-column: auto/span 9;
  }
  .col-10 {
    grid-column: auto/span 10;
  }
  .col-12 {
    grid-column: auto/span 12;
  }
  /* spanning rows */
    .row-2 {
    grid-row: auto/span 2;
  }


  .grid-lbl{
    text-align: right;
  }
  .grid-val{
    text-align: left;
  }
  .info-card{
    border: var(--primary) 1px solid;
    padding:5px;
    font-size: 15px;
    margin: .125em;
  }
 
  .title{
    text-align: center;
    font-weight: bold;
    color: var(--quinary);
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .title-main{
    background-color: var(--primary);
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: .5em;
    margin-bottom: 1em;
  }
  .data-text-sm{
    font-size: 10pt;
    margin: 3px;
  }

  .text-sm{
    font-size: 9pt;
  }

  .text-pri{
    color: var(--blueish);
  }

  .title-sub{
    background-color: var(--tertiary);
    text-align: center;
    font-weight: bold;
    font-size: 13pt;
    color: #fff;
    padding: .75em;
    margin-bottom: 1em;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .show{
    display:grid;
    transition: height 1s;
  }
  .hide{
    display: none;
  }
  .toRight{
    float: inline-end;
  }
  .input-control{
    font-size: 14px;
    width: 100%;
    padding: 8px 14px;
    display: inline-block;
    border: 1px solid var(--primary);
    border-radius: 4px;
    box-sizing: border-box;
  }

  .center {
    text-align:center;
  }
  .sched-title{
    background-color: var(--senary);
    font-weight: bold;
    color: #fff;
    padding: .5em;
  }
  .sched-time{
    font-weight: bold;
    color: var(--quinary);
  }
.notes{
  font-style: italic;
  color: var(--quinary-alt);
}
.dash-card{
  border: var(--primary) solid 1px;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  background-color: #ffffff;
  box-shadow:  0 3px 10px rgb(0 0 0 / 0.2);
}
.dash-title{
  margin-top: 1em;
  font-size: large;
  color: var(--tertiary);
  font-weight: bold;
}
.dash-count{
  font-size: 48pt;
  color: var(--blueish);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: .25em;
}
.dash-data{
  border: var(--primary) solid 1px;
  border-radius: 5px;
  padding: 15px;
  line-height: 1.25rem;
  background-color: #ffffff;
}

.login-panel{
  background-color: var(--tools-alt);

  margin-top: 35%;

}
.input-pad{
  margin: 1em;
}